.note-meta {
    position: relative;
    width: 70%;
    height: 80vh;
    background: white;

    @media (max-width: 768px) {
        position: absolute;
        width: 100%;
        height: calc(100% - 100px);
    }

    .save {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        padding: 10px 20px;
        border-radius: 10px;
        background: greenyellow;
        text-align: center;
        position: absolute;
        top: 80%;
        right: 50px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: green;
            color: white;
        }

        &:disabled {
            background: #ddd;
            cursor: default;
        }
    }

    .note-title {
        padding: 40px;
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
    }

    textarea {
        border: none;
        resize: none;
        overflow: auto;
        width: 100%;
        padding: 20px;
        font-size: 16px;
        font-family: 'Ubuntu', sans-serif;
        min-height: 300px;
        max-height: 80%;
        background: #ddd;

        &:focus {
            outline: none;
        }
    }

    .note-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
        font-family: monospace;
    }
}