.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    background: white;

    @media (max-width: 500px) {
        width: 100%;
        height: 70vh;
    }

    .icon {
        font-size: 50px;
        margin-bottom: 10px;
    }
}