.header {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;

    .l {
        font-family: 'Sedgwick Ave', cursive;
        text-align: center;

        i { margin: 0 5px; }
    }

    .r {
        display: grid;
        place-items: center;
        position: relative;
        width: max-content;
    }

}